<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">New Dream</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input ng-model="newItem.title" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Deadline</span>
                <input ng-model="newItem.deadline" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input ng-model="newItem.description" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createItem(newItem)">Create</button>
        </div>
    </ion-content>
</ion-modal-view>