<ion-view view-title="To Fulfill">
  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search" ng-model="query">
      </label>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="bucketListItem in bucketList | filter: query |orderBy: orderProp" type="item-text-wrap" href="#/tab/to-fulfill/{{bucketListItem.id}}">
        <img ng-src="{{bucketListItem.photo}}" alt="Img">
        <h2>{{bucketListItem.title}}</h2>
        <p><i class="ion-record" ng-class="bucketListItem.deadline >= 2022 ? 'positive' : (wish.deadline < 2021 ? 'assertive' : 'energized')"></i>  {{bucketListItem.deadline}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(bucketListItem)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
