<ion-view view-title="Geolocation">
  <ion-content>
    <div ng-if="!ui.displayPos && !ui.displayRandomPos">
      <button class="button" ng-click="getCurrentPosition()" style="margin: 12px;">Display your position</button>
      <button class="button" ng-click="getRandomPosition()" style="margin: 12px;">Display a random place</button>
    </div>
    {{lat1 +" "+ long1}}
    <div ng-if="ui.displayPos">
      <div style="display:flex; justify-content:space-evenly;">
        <div>
          <h3 style="margin: 12px;">Your current position with an accuracy of {{currentPosition.accuracy}} m</h3>
          <ion-list>
            <ion-item>
              Latitude: {{currentPosition.latitude}}
            </ion-item>
            <ion-item>
              Longitude: {{currentPosition.longitude}}
            </ion-item>
            <ion-item>
              Altitude: {{currentPosition.altitude}}
            </ion-item>
          </ion-list>
        </div>
        <div>
          <h3 style="margin: 12px;">The current weather in {{currentWeather.name}},{{currentWeather.sys.country}}</h3>
          <ion-list>
            <ion-item>
              Temperature: {{currentWeather.main.temp}} °C
            </ion-item>
            <ion-item>
              General State: {{currentWeather.weather[0].main}}
            </ion-item>
            <ion-item>
              Description: {{currentWeather.weather[0].description}}
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div style="display:flex">
        <button class="button" ng-click="ui.hide()" style="display:flex;margin: 5px">Hide info</button>
        <button class="button" ng-click="getCurrentPosition()" style="display:flex;margin: 5px">Retry</button>
      </div>
      <div id="map" data-tap-disabled="true" style="width: 100%; height: 400px;"></div>
    </div>

    <div ng-if="ui.displayRandomPos">
      <div style="display:flex; justify-content:space-evenly;">
        <div>
          <h3 style="margin: 12px;">Your random generated position</h3>
          <ion-list>
            <ion-item>
              Latitude: {{randomPosition.latitude}}
            </ion-item>
            <ion-item>
              Longitude: {{randomPosition.longitude}}
            </ion-item>
          </ion-list>
        </div>
        <div>
          <h3 style="margin: 12px;">The current weather in {{randomWeather.name}},{{randomWeather.sys.country}}</h3>
          <ion-list>
            <ion-item>
              Temperature: {{randomWeather.main.temp}} °C
            </ion-item>
            <ion-item>
              General State: {{randomWeather.weather[0].main}}
            </ion-item>
            <ion-item>
              Description: {{randomWeather.weather[0].description}}
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div style="display:flex">
        <button class="button" ng-click="ui.hide()" style="display:flex;margin: 5px">Hide info</button>
        <button class="button" ng-click="getRandomPosition()" style="display:flex;margin: 5px">Retry</button>
      </div>
      <div id="map" data-tap-disabled="true" style="width: 100%; height: 400px;"></div>
    </div>
  </ion-content>
</ion-view>