<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Fulfilled Tab -->
  <ion-tab title="Fulfilled" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/fulfilled">
    <ion-nav-view name="tab-fulfilled"></ion-nav-view>
  </ion-tab>

  <!-- To fulfill Tab -->
  <ion-tab title="To fulfill" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/to-fulfill">
    <ion-nav-view name="tab-to-fulfill"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
